/* ====== VARIÁVEIS CSS  ====== */
:root {
  /* Cores principais do tema */
  --color-bg: #ffffff;
  --color-page: #fdfdfd;
  --color-foreground: #222222;
  --color-sidebar: #0B192C;
  --color-accent: #2119b4;
  --color-white: #ffffff;
  --color-muted: rgba(34, 34, 34, 0.6);
  --color-card-border: rgba(0, 0, 0, 0.1);
  --color-card-shadow: rgba(0, 0, 0, 0.05);
  --color-card-shadow-hover: rgba(0, 0, 0, 0.12);

  /* Tipografia */
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-size-base: 16px;
  --font-size-small: 0.79rem;
  --font-size-smaller: 0.75rem;

  /* Dimensões e espaçamentos */
  --sidebar-width: 280px;
  --sidebar-width-mobile: 100vw;
  --gap-sm: 0.4rem;
  --gap-base: 1rem;
  --pad-wide: 24px;
  --pad-medium: 1.5rem;
  --border-radius: 8px;
  --round-big: 12px;
  --avatar-size: 140px;

  /* Sombras e transições */
  --shadow-sidebar: 4px 0 20px rgba(44, 62, 80, 0.4);
  --shadow-card: 0 4px 12px var(--color-card-shadow);
  --shadow-card-hover: 0 8px 24px var(--color-card-shadow-hover);
  --transition-fast: 0.3s ease;
  --transition-slower: 0.5s ease;

  /* Botões */
  --btn-bg: var(--color-accent);
  --btn-bg-hover: #1B6AA8;
  --btn-color: var(--color-white);
  --btn-color-hover: var(--color-white);

  /* Outras medidas úteis */
  --help-size: 48px;
  --devs-grid-min: 280px;
}

/* ====== RESET BÁSICO E ESTILOS GERAIS ====== */
body.tema-padrao {
  background-color: var(--color-bg);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base);
  background: linear-gradient(to bottom, #f0f4f8, #ffffff);
}

/* ====== CONTEÚDO PRINCIPAL ====== */
.app-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-page);
  overflow-x: hidden;
}

.content {
  flex: 1;
  background-color: var(--color-page);
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 3rem;
  margin-left: var(--sidebar-width);
  transition: all var(--transition-fast);
  box-sizing: border-box;
  min-height: 100vh;
}

/* Ajustes de responsividade para o conteúdo */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding: 1rem 1.5rem;
    margin-top: 60px;
    /* Espaço para o botão hamburger */
  }
}

@media (max-width: 480px) {
  .content {
    padding: 1rem;
    margin-top: 50px;
  }
}

.content>* {
  margin: 0 auto;
  width: 100%;
}

/* ====== COMPONENTES ====== */
/* Botões */
/* BOTÕES PRINCIPAIS E SALVAR */
/* botão devolver */
.btn-devolver {
  background-color: #0b192c;
  color: var(--btn-color, #fff) !important;
  border: none !important;
  border-radius: 0.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}
.btn-devolver:hover {
  background-color: #224980;
  color: var(--btn-color-hover, #fff) !important;
}


/* botão renovar */
.btn-renovar:hover {
  background-color: #224980;
  color: var(--btn-color-hover, #fff) !important;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  
}


.btn-renovar {
  background-color: #0b192c;
  color: var(--btn-color, #fff) !important;
  border: none !important;
  border-radius: 0.6rem;
  font-weight: 500;
  cursor: pointer;
transition: all 0.25s ease;}

.btn-warning:hover {
  background-color: rgb(149, 149, 149);
  /* tom mais escuro no hover */
  color: var(--btn-color-hover, #fff) !important;
}
.linha-atrasada {
  border-left: 2px solid #ffc107; 
}

.btn-botao1 {
  background-color: #2119b4;
  color: var(--btn-color) !important;
  border: none !important;
  border-radius: 0.6rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-fast), transform 0.2s ease, box-shadow 0.3s ease;
}

.btn-botao1:hover {
  background-color: #372ee0;
  color: var(--btn-color-hover) !important;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-color: #2119b4;
  color: var(--btn-color) !important;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease;

}


.btn-primary:hover {
  background-color: #372ee0;
  color: var(--btn-color-hover) !important;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.btn-sucess:hover {
  background-color: #169976;
  color: var(--btn-color-hover) !important;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

/* BOTÃO CANCELAR E EXCLUIR*/
.btn-danger {
  background-color: #ff2424;
  color: var(--btn-color) !important;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease;
}
.btn-danger:hover {
  background-color: rgb(200, 3, 3);
  color: var(--btn-color-hover) !important;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.btn-cancelar:hover {
  background-color: #5c5c5c;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.btn-cancelar {
  background-color: #646464;
  color: var(--btn-color) !important;
  cursor: pointer;
  font-weight: 500;
    transition: all 0.25s ease;

}


/* BOTÃO ADICIONAR EM CADASTROS*/
.btn-success {
  background-color: #19960e;
  border: none !important;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease;
}

.btn-success:hover {
  background-color: #20c412;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.btn-paginacao {
  background-color: #4eafae; /* azul grafite */
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.45em 1.1em;
  font-weight: 500;
  transition: all 0.25s ease;
}
.badge-outline {
  background-color: transparent !important;
  color: #0d6efd; /* Azul padrão Bootstrap */
  border: 1px solid #0d6efd;
  font-weight: 500;
  border-radius: 8px;
}

.btn-paginacao:hover {
  background-color: #2119b4; 
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    color: #fff;

}

.btn-paginacao:disabled {
  background-color: #e2e8f0;
  color: #94a3b8;
  box-shadow: none;
  cursor: not-allowed;
  transform: none;
}

.icone-dinamico {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #0B192C;
  transform: scale(1);
  transition: all 0.3s ease;

  position: relative;
  z-index: 1;
}

.icone-dinamico:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #7bff00;
  transform: scale(1.2);
}

.card-funcionalidade {
  overflow: visible;
  /* permite tooltip flutuar */
}

/* Cards */
.card {
  border: none;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: transform var(--transition-fast), box-shadow var(--transition-fast);
  background-color: var(--color-white);
  color: var(--color-foreground);
}

/* Corpo do card */
.card-body {
  padding: var(--pad-wide);
  border: 1px solid rgb(230, 230, 230);
  border-bottom-left-radius: 0;
  /* canto inferior esquerdo quadrado */
  border-bottom-right-radius: 16px;
  /* canto inferior direito arredondado */

}

/* Cabeçalho do card */
.card-header {
  background-color: var(--color-sidebar);
  color: var(--color-white);
  padding: 1rem 1.5rem;
  border-bottom: 2px solid var(---accent);

}

/* Título do card */
.card-title {
  color: var(--color-sidebar);
  font-weight: 600;
  font-size: 1rem;
}

.hr-thin {
  border: none;
  height: 1px;
  background-color: var(--color-muted);
  margin: 1rem 0;
}


/* ====== COMPONENTES TABELA LIVROS ====== */
.ano-publicacao {
  text-align: center !important;
}

.livro-imagem {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 1.5px solid rgb(175, 175, 175);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.lista-livro-imagem {
  width: 80px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.lista-livro-imagem.selecionada {
  border: 3px solid #28a745;
}

.sem-imagem {
  width: 150px;
  height: 220px;
  background-color: #f8f9fa;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
}

.livro-card-body {
  border: none;
  /* remove a borda */
}

/* ===== ESTILOS UNIFICADOS PARA ENTRADA E SAÍDA ===== */
.entrada-livro-imagem {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 1.5px solid rgb(175, 175, 175);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.entrada-lista-livro-imagem {
  width: 40px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.entrada-lista-livro-imagem.selecionada {
  border: 2px solid #28a745;
}

.entrada-sem-imagem {
  width: 150px;
  height: 220px;
  background-color: #f8f9fa;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
  flex-direction: column;
}

.entrada-livro-card-body {
  border: none;
}

.entrada-btn-sm-custom {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  min-width: 40px;
}

/* ===== ESTILOS ESPECÍFICOS PARA O COMPONENTE LIVROLIST ===== */
.livrolist-livro-imagem {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #585858;
  background-color: #141414;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.livrolist-lista-livro-imagem {
  width: 45px;
  height: 60px;
  object-fit: cover;
  border-radius: 2px;
  border: 1px solid #585858;
  background-color: #141414;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.livrolist-sem-imagem {
  width: 120px;
  height: 180px;
  background-color: #141414;
  border-radius: 4px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9ecef;
}

.livrolist-lista-sem-imagem {
  width: 45px;
  height: 60px;
  background-color: #141414;
  border-radius: 2px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9ecef;
}

.livrolist-livro-card-body {
  border: none;
}

.livrolist-btn-sm-custom {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  min-width: 40px;
}

/* Estilos para o modal */
.livrolist-modal-imagem {
  max-height: 280px;
  object-fit: cover;
  border-radius: 4px;
  background-color: #141414;
  border: 1px solid #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.livrolist-modal-sem-imagem {
  width: 180px;
  height: 230px;
  background-color: #141414;
  border-radius: 4px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9ecef;
  margin: 0 auto;
}
.btn-sm-custom {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  min-width: 40px;
}


/* ====== CLASSES UTILITÁRIAS ====== */
.text-primary {
  color: var(--color-sidebar) !important;
  margin-bottom: -4px;

}

.bg-primary {
  background-color: var(--color-sidebar) !important;
  color: var(--color-white) !important;
}

.input-group-text {
  background-color: var(--color-sidebar) !important;
  color: var(--color-white) !important;
  border: none !important;
}

/* ====== BOTÃO DE AJUDA ====== */

/* Estilos para o botão de ajuda */
.help-button-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1050;
}


.help-button.active {
  transform: scale(0.95);
}

.help-button .icon {
  transition: transform 0.3s ease;
}

.help-button:hover .icon {
  transform: scale(1.1);
}

.pulse-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 0.6);
  animation: pulse 2s infinite;
  opacity: 0;
}

/* Estilos para o modal de ajuda */
.help-modal .modal-content {
  border: none;
  border-radius: 12px;
  overflow: hidden;
}

.modal-header-help {
  background-color: #0B192C;
  border-bottom: none;
  padding: 1.5rem;
}

.modal-body-help {
  padding: 2rem;
}

.modal-footer-help {
  border-top: none;
  background-color: #45ffd6;
  padding: 1rem 1.5rem;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hover-underline {
  text-decoration: none;
  /* sem sublinhado por padrão */
}

.hover-underline:hover {
  text-decoration: underline;
  /* aparece o sublinhado ao passar o mouse */
}


.contact-method {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.method-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.email-icon {
  background-color: rgba(13, 110, 253, 0.1);
  color: var(--color-sidebar) !important;
}

.hours-icon {
  background-color: (40, 167, 69, 0.1);
  color: var(--color-sidebar) !important;
}

.method-info h5 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #343a40;
}

.contact-link {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.contact-link:hover {
  color: #0d6efd;
  text-decoration: underline;
}

.close-button {
  transition: all 0.3s ease;
}

.email-button {
  transition: all 0.3s ease;
}

/* Animação de entrada do modal */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
}

.modal.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 50%;
  width: var(--help-size);
  height: var(--help-size);
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-fast), color var(--transition-fast);
  z-index: 9999;
}

.help-button:hover {
  background-color: #222222;
  color: #ececec;
}

/* Botões pequenos de edição e exclusão personalizados */
.btn-sm-custom {
  width: 32px;
  height: 32px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  transition: all 0.2s;
}


/* Botão de edição */
.btn-edit {
  background-color: #2C3E50;
  color: #ffffff;
  border: 1px solid #ffffff;

}

.btn-edit:hover {
  background-color: #1B6AA8;
  color: #fff;
  border: 1px solid #ffffff;
  transition: background-color var(--transition-fast), color var(--transition-fast);
}

/* Botão de exclusão */
.btn-delete {
  background-color: #ca1313;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-delete:hover {
  background-color: #e24a4a;
  color: #fff;
  transition: background-color var(--transition-fast), color var(--transition-fast);
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    /* Empilha sidebar e conteúdo em mobile */
  }

  .content {
    padding: var(--pad-medium);
    /* Reduz padding em mobile */
  }
}

.btn-edit {
  background-color: #2C3E50;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 500;
  transition: background-color var(--transition-fast);
}

.btn-edit:hover {
  background-color: #1B6AA8;
  color: #fff;
}

.btn-delete {
  background-color: #ca1313;
  cursor: pointer;
  font-weight: 500;
  transition: background-color var(--transition-fast);
}

.btn-delete:hover {
  background-color: #ff0000ff;
  color: var(--btn-color-hover) !important;
}


.livro-card {
  height: 100%;
  transition: all 0.2s ease;
  border: 1px solid rgb(210, 209, 209);
  border-right: 4px solid #f7e6e6;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.livro-card:hover {
  transform: translateY(10px);
}

.livro-titulo {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3rem;
  line-height: 1.5rem;
}

.livro-detalhes {
  font-size: 0.9rem;
  color: #6c757d;
  margin-bottom: 0.25rem;
  flex: 1;
}

.livro-actions {
  margin-top: auto;
  padding-top: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.detalhes-linha {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.detalhes-linha>div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detalhes-linha>div:first-child {
  font-weight: 600;
  min-width: 60px;
  margin-right: 8px;
}

.detalhes-linha>div:last-child {
  flex: 1;
}